*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffff;
    overflow-x: hidden;
}

body{
    background-color: #161616;  
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./../img/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    opacity: .1;
}

h2{
    padding: 1rem;
}

.album-icon{
    width: 30px;
    height: 30px;
    background-image: url(./../img/album-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(10rem, -2.8rem);
}

.create-icon{
    width: 30px;
    height: 30px;
    background-image: url(./../img/create-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(10rem, -2.6rem);
}

.albuns{
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    margin: 2rem;
    align-content: space-between;
    overflow: hidden;
}

.create-album{
    margin: 2rem;
    width: 100px;
    height: 100px;
    background-color: rgb(197, 197, 197);
    color: #000000;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64); 
    box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64);
}

.create-album:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.create-album:active{
    cursor: default;
}

.create-album span{
    position: absolute;
    transform: translate(-50% ,50%);
    font-weight: bolder;
    font-size: 30pt;
}

.modal-create{
    position: fixed;
    left: 40%;
    width: 250px;
    height: 100px;
    border-radius: 8pt;
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    display: none;
    -webkit-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64); 
    box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64);
}

.modal-create input{
    width: 200px;
    height: 30px;
    margin: .7rem;
    border-radius: 7px;
    border-style: none;
    background-color: rgb(197, 197, 197);
    padding: 2px;
    color: #000000;
}

.modal-create button{
    width: 80px;
    height: 30px;
    margin: .5rem;
    border-radius: 7px;
    border-style: none;
    font-weight: bolder;
}

.modal-create #create{
    background-color: #bbbbbb;
    color: #000000;
}

.modal-create #cancel{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.modal-create button:hover{
    transition: linear .2s;
    cursor: pointer;
}

.modal-create button:active{
    cursor: default;
}

/* Albuns */

.albuns{
    display: inline-block;
}

#album-picture{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: #000000;
    background-attachment: center;
    background-position: center;
    background-size: cover;
    margin: .5rem;
}

#album-picture:hover{
    cursor: pointer;
}

#album-picture:active{
    cursor: default;
}

h3{
    margin-bottom: 1rem;
}

.albuns img{
    width: 150px;
    height: 150px;
    margin: .2rem;
    object-fit: cover;
}

.albuns img:hover{
    transition: linear .2s;
    width: auto;
    transform: scale(115%);
}

/* Pictures */

.images{
    display: none;
    -webkit-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64); 
    box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.64);
}